<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>
<section class="main">
  <nav><p class="location">ASAP -> Pragathi nagar</p></nav>
  <!-- <div>
    <img class="burger-landing-page" src="https://s.abcnews.com/images/Business/ht_whopper_ad_lb_150928_12x5_992.jpg"/>
  </div> -->
  <div>
    <div class="swipe-box"  
        *ngFor="let avatar of avatars; let idx=index"
        (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)" 
        [class.visible]="avatar.visible" [class.hidden]="!avatar.visible">
        <div>
            <img [src]="avatar.image" [alt]="avatar.name" style="width: 100%; height: 165px;">
        </div>
    </div>
</div>
    <div><p class="header">Favourites</p></div>
  <div class="cards">
    <div *ngFor="let restaurant of restaurants" class="card">
      <div (click)="navigate()" (click)="selectedRestaurant(restaurant.restaurantName)">
        <div>
          <div class="restaurant-name">{{ restaurant.restaurantName }}</div>
          <div class="distance">{{ restaurant.distance }}</div>
        </div>
        <div class="rating">
          <span>{{ restaurant.rating }}</span>
          <span><app-star [rating]="restaurant.rating"></app-star></span>
        </div>
        <div style="display: flex; justify-content: space-around;">
          <img class="card-image1" src="{{restaurant.imageUrl1}}" />
          <img class="card-image2" src="{{restaurant.imageUrl2}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="header">Pizza special</div>
  <div class="cards">
    <div class="card2">
      <div>
        <div class="restaurant-name">Pizza Hut</div>
        <div class="distance">1.6 km</div>
      </div>
      <div><span class="rating">4.5</span></div>
      <div>
        <img
          class="card2-images"
          src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/e/z/p54-15137566365a3a17dc61544.jpg?w=1200&q=100"
        />
      </div>
    </div>
  </div>
  <nav class="bottom-nav">
    <a class="nav-image"><img class="bottom-nav-image" src="../images/Home.svg" /></a>
    <a class="nav-image"><img class="bottom-nav-image" src="../images/search.svg" /></a>
    <a class="nav-image"><img class="bottom-nav-image" src="../images/froops.svg" /></a>
    <a class="nav-image"><img class="bottom-nav-image" src="../images/notifications.svg" /></a>
    <a class="nav-image"><img class="bottom-nav-image" src="../images/profile.svg" /></a>
  </nav>
</section>
